# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Project specific
.env
*.log
tmp/
data/
